* {
    box-sizing: border-box;
}

@font-face{
    font-family: onyximport;
    src: url("../fonts/onyx/ONYX.TTF");
}

@font-face{
    font-family: Comicimport;
    src: url("../fonts/Comic/COMIC.TTF");
}

html,body{
    height: 100%;
}
body{
    background-image: url('../images/backgrauand.png');
    background-repeat:no-repeat;
    background-size: cover;
}
.body-containing{
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* login starting */
#login{
    background-image: url('../images/backgrauand.png');
    background-position: center;
    background-size: cover;
    margin: 0px;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Comicimport,'Turret Road', cursive;
}
.login_container{
    width: 320px;
    height: 390px;
    background: radial-gradient(rgba(255,255,255,0.6));
    box-shadow: 5px 10px 20px rgb(0, 0,0,0.6);
    backdrop-filter: blur(3px);
    border-radius: 20px;
}
.webImage{
    width:195px ;
    margin-left: 17%;
    margin-top: -50px;
}
h2{
    margin-top: 1px;
    margin-left: 37%;
    font-size: 22px;
    font-family: Comicimport,'Turret Road', cursive;
    color: #2541B2;
}
.lab,.in{
margin-left: 30px;
}
.lab{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Comicimport,'Turret Road', cursive;
    color: #2541B2;
}
.in{
    width: 80%;
    height: 20px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #E5D549;
    background: transparent;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif, Comicimport,'Turret Road', cursive;
    padding-bottom: 3px;
    margin-bottom: 15px;
}
.in:focus{
    border-bottom: solid #2541B2;
}
::placeholder{
    color: rgb(61, 57, 57);
    font-family: Comicimport,'Turret Road', cursive;
}
i{
    color: #2541B2;
    margin-left: -20px;
    cursor: pointer;
}
#login_b{
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10%;
    outline: none;
    border: solid #E5D549;
    color: #2541B2;
    margin-left: 118px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    background-color: white;
    text-align: center;
}
#login_b:hover{
    background: #E5D549;
    color: #fff;
    border: solid #E5D549;
}


/* login ending */

/******** Home Page *******/
/*************************/

.homePage{
    display: block;
    position: relative;
    margin : 0;
    padding: 0;
  }
.header{
    display: grid;
    position: fixed;
    width: 100%;
    height: 10em;
    background-color: #e3f0fb;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 70%);
    grid-template-columns: 25% 75%;
}
.websitName{
    height: 5em;
    margin-left: 2em;
    margin-top: 1.5em;
}
.menuContainer{
    display: grid;
    grid-template-columns: 10em 10em 15% 10% 10%;
    border-top-left-radius: 3em;
    border-bottom-left-radius: 3em;
    background-color: #e5d549;
    top: 6em;
    position: relative;
    height: 4em;
    align-items: center;
}
.userName{
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
    color: #fff;
}
.search{

}
.menuButton{

}


/********* End Home Page *******/
/*******************************/

.Admin_settings{
    align-self: flex-start;
    margin-left: 3%;
    margin-bottom: 2.5%;
    font-family: Comicimport,'Turret Road', cursive;
    color: #2541B2;
    font-size: 3.8vw;
    text-shadow: 3px 6px 5px #E5D549;
    font-weight: bold;
    /*background-color: burlywood;*/
}

#form2{
    width: 80%;
}
.lab2{
    display: inline-block;
      font-size: 1.8vw;
      text-align: center;
      width: 22%;
      font-weight: bolder;
      font-family: Comicimport,'Turret Road', cursive;
      color: #2541B2;
      margin: 0% 0% 3% 10%;
}
.admin{
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    /*background-color: aqua;*/
    align-items: center;
}
.in1{
    display: inline-block;
    height: 8vh;
    width: 45vw;
    padding: 1%;
    outline: 0px;
    border-radius: 10px;
    text-align: center;
    margin-left: 1%;
    font-size: 150%;
}
.in1:focus{
    outline: rgb(65, 78, 251) 2px solid;
}
#change{
    display: block;
    font-weight: bolder;
    padding: 2.5%;
    line-height: 10%;
    background-color: white;
    text-align: center;
    font-size: 2vw;
    border-radius: 5px;
    margin-left: 50%;
    color: #2541B2;
    margin-top: 15px;
    border: solid #E5D549;
}
#change:hover{
    background: #E5D549;
    color: #fff;
    border: 0px;
    cursor: pointer;
    transition: ease 0.3s all;
    border: solid #E5D549;
}
@media only screen and (max-width: 769px) {
    .lab2{
        font-size: 3.5vw;
        width: 38%;
    }
    #form2{
        width: 90%;
        /*background-color: aqua;*/
    }
    .admin{
        margin-top: 4%;
    }
#change{
  margin-left: 65%;
  font-weight: bold;
  font-size: 3vw; 
}
.Admin_settings{
    font-size: 6.5vw;
    text-shadow: 3px 3px 3px #E5D549;
    margin-bottom: 3%;
}
}
@media only screen and (max-width: 441px) {
    .lab2{
        font-size: 4vw;
        width: 40%;
    }
    #form2{
        width: 100%;
        /*background-color: aqua;*/
    }
    .admin{
        margin-top: 9%;
    }
    #change{
        font-weight: bold;
     }
}

/* admin settings ending */
.change-sett{
   /* background-color: burlywood;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 70%);
    overflow: hidden;
    width: 50%;
    
}
.sett{

    margin-top: 5%;
    font-family: Comicimport;
    font-style: normal;
    font-weight: normal;
    font-size:2.5vw;
    line-height: 100%;
    color: #1768AC;
    text-shadow: 3px 6px 5px #E5D549;
    margin-bottom: 10px;
    /*background-color: brown;*/
}
#form3{
  /* background-color: cornflowerblue;*/
    margin-top: 5%;
    width: 80%;
}
#change-bt{
    font-size: 18px;
    padding: 10px;
    margin-top: 3%;
    margin-left: 40%;
    margin-bottom: 10%;
    border-radius: 10%;
    outline: none;
    border: solid #E5D549;
    color: #2541B2;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    background-color: white;
    text-align: center;
    }

#change-bt:hover{
background: #E5D549;
color: #fff;
border: solid #E5D549;
}
.bi-arrow-left-circle{
    color: black;
    font-size: 20px;
}
.change-data{
    width: 100%;
    /*background-color: green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.back-bt{
  width: 100%;
  /*background-color: greenyellow;*/
  display: flex;
  justify-content: start;
  align-items: flex-start;
  padding-left: 2%;
}

.back-bt i{
    margin-left: 0px;
}

.lab3,.in3{
    margin-left: 30px;
    }
    .lab3{
        font-size: 1.5vw;
        margin-bottom: 10px;
        font-weight: bold;
        font-family: Comicimport,'Turret Road', cursive;
        color: #2541B2;
    }
    .in3{
        width: 80%;
        height: 5vh;
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid #E5D549;
        background: transparent;
        color: black;
        font-size: 1vw;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif, Comicimport,'Turret Road', cursive;
        padding-bottom: 1%;
        margin-bottom: 5%;
    }
    .in3:focus{
        border-bottom: solid #2541B2;
    }
    @media only screen and (max-width: 769px) {
        .lab3{
            font-size: 3.5vw;
            width: 38%;
        }
        #form3{
            width: 90%;
            /*background-color: aqua;*/
        }
        .change-sett{
            width: 80%;
            
        }
        .sett{
            font-size: 6vw;
        }
        .in3{
            font-size: 2.5vw;
        }
    }
    @media only screen and (max-width: 426px) {
        #change-bt{
            margin-left: 35%;
        }
        .in3{
            font-size: 3.5vw;
        }
        .lab3{
            font-size: 4vw;
            width: 60%;
            /*background-color: burlywood;*/
        }
    }
/*
    ****************
    Router1 Page
    **************** 
*/

/******Main body******/
#body{
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "header" "body" "footer";
    
    
}
/******Header Begins******/
.hcontainer{
    grid-area: header;
    display: flex;
    justify-content: center;
    
}
.heading {
    width: 100%;
    height:calc(10vh + 5vw);

    background: url("../images/header_background.png");
    background-size:100vw 100%;
    display: flex;
    justify-content: center;
    
}
.heading_container{

    height:100%;
    display: grid;
    width: 98vw;
    grid-template-columns: 15% 25% 10%;
    grid-template-areas: "Admin Logo buttons";
    column-gap: 25%;
    align-items: flex-start;
    justify-content: center;
    
}

/*adminSettingsIcon properties*/
.adminSettings{

    grid-area: Admin;
    display: grid;
    align-items: center;
    justify-content: start;
    height: 50%;
    grid-template-columns: 25% 80%;
    grid-template-areas: "Icon Name";
    column-gap: 0.3vw;
}
.AdSetIcon{
    grid-area: Icon;
    height: 60%;
    width: 100%;
}
.AdSetIcon img{
    height: 100%;
    width: 100%;
}

/*adminName properties*/
.adminName{
    display: flex;
    margin:0;
    width: 100%;
    height: 100%;
    grid-area: Name;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    justify-content: start;
    align-items: center;
    font-size:2vmax;
    line-height: 100%;
    color: #2541B2;
}

/*Logo Properties*/
.Logo{

    grid-area: Logo;
    
    height:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-bottom: 10%;
    
}

.hLogo{
    height:90%;
    width: 90%;
}
/*Logout & Home buttons properties*/
.HomeAndLog{

    grid-area: buttons;
    height: 50%;
    display: grid;
    align-items:center;
    column-gap: 1vw;
    grid-template-columns:auto auto;
    grid-template-areas:"home Logout";
    justify-content: end;
}

#f1{
    grid-area: home;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.HIcon{
    
    width: 3vw;
    margin-bottom: 20%;
}

#f2{
    grid-area: Logout;
    height:70%;
    display: flex;
    align-items: center;
    
    
}
.button{
    width: 7vw;
    height: 80%;
    border-radius: 4vh;
    font-family: onyximport;

    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    line-height: 50%;
    /* identical to box height */
    color: #2541B2;
    text-align: center;
    text-justify:inter-word;

}
.button:hover {
    background: #e9d520;
    color: #fff;
    border:0px;
    cursor: pointer;
    transition: ease 0.3s all;
}

/******Header ends******/


/******Body Begins******/
.body{
    width:100%;
    grid-area: body;
    display: grid;
    grid-template-columns: 15vw auto;
    grid-template-areas: "menu SECs";
}
.barBG{
    position:absolute;
    width: 15%;
    height: 100%;
    z-index: -1;
    background-color: white;
}
.barBG img{
    display: none;
}

.Sbar{
    display: none;
    flex-direction: column;
    row-gap: 32vh;
}


.menu{
    grid-area: menu;
    display: grid;
    grid-template-rows: 20% 20% 20%;
    row-gap: 15%;
    grid-template-areas: "R1" "R2" "R3";
}
.clr{
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto;
    align-items:center;
    justify-content: center;
    grid-template-areas: "Ic R";
    
}

.clr svg{
    margin-top: 10%;
    width: 100%;
    grid-area: Ic;
}
.clr p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    height: auto;
    grid-area: R;
    font-size: 20pt;
    color: #2541B2;
}

.Secs{
    grid-area: SECs;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width:98%;
    height:95%;
}

.sec{
    height: 100%;
    display:grid;
    row-gap: 5%;
    grid-template-columns: 5% 95%;
    grid-template-rows: 10% 85%;
    grid-template-areas: "header header" "empty Settings";
}

.name{

    margin: 0px;
    grid-area: header;
    font-family: Comicimport;
    font-style: normal;
    font-weight: normal;
    font-size:40pt;
    line-height: 100%;
    color: #1768AC;
    text-shadow: 3px 6px 5px #E5D549;
    align-self: flex-start;
}
.Settings{
    grid-area: Settings;
    display: grid;
    grid-template-rows: 84% 15%;
    row-gap: 1%;
    grid-template-areas: "Scontainer" "View";
    
}

.Scontainer{
    display: flex;
    grid-area: Scontainer;
}

.S1{
    grid-area: S1;
    width: 50%;
}
.S2{
    width: 50%;
    grid-area: S2;
}
.View{
    grid-area: View;
    display: flex;
    column-gap: 2%;
    justify-content: center;
    align-items: center;
}

.none{
    display:none;
}


.dis{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: "I1" "I2" "I3" "I4" "I5";
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.I5{
    grid-area: I5;
}
.dp{
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    grid-template-rows: 100%;
    grid-template-areas: "labels txts";
    justify-content: center;
    align-items: center;
}

.txts{
    grid-area: txts;
    width: 100%;
    height: 5vh;
    text-align: center;
    font-weight: bolder;
    border-radius: 10px;

}
.txts:focus{
    outline-color: rgb(65, 78, 251);
    outline-width: 1px;
}

.label{
    line-height: 100%;
    margin-bottom: 2% ;
    grid-area: labels;
    font-size: calc(1vw + 1vh);
    font-family:Comicimport;
    font-weight:bold;
    justify-self: start;
    color: #2541B2;
}


input[name="View"]{
    height: 80%;
}

.Next , .Back{
    height: 80%;
}




/******Body Ends******/

/******Footer Begins******/
.footer{
    grid-area: footer;
    width: 100vw;
    background: url("../images/footer_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 40vw 20vw 40vw;
    grid-template-areas: "fLogo empty team";
    align-items: center;
}

.team{
    grid-area: team;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.team div{
    width: 15vw;
    min-width: 200px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.1vw;
    line-height: 1vh;
    color: #02186d;

}


.fLogo{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.fLogo img{
    width: fit-content;
    height: 6vh;

}


/******Footer Ends******/

@media only screen and (max-width: 1280px) {
    
    .clr p{
        font-size: 150%;
    }
    .heading_container{
        grid-template-columns: 20% 25% 15%;
        column-gap: 20%;
    }
    .adminName{
        font-size: 2vmax;
    }
    .AdSetIcon{
        width: 85%;
    }
    
}

@media only screen and (max-width: 800px){
    p{
        font-size: 10px;
    }
    
    #f2{
        height: 80%;
    }
    .button{
        width: 70px;
        font-size: 150%;
        height: 100%;
    }

    .HIcon{
        width: 25px;
    }

    .AdSetIcon{
        width: 100%;
        height: fit-content;
    }

    .adminName{
        font-size: 80%;
    }
    
    .body{
        grid-template-columns: 0px auto;
        
    }
    .name{
        font-size: 25pt;
        align-self: flex-end;
    }

    .dis{
        width: 100%;
    }
    .inactive{
        display: none;
    }
    .label{
        font-size: 20px;
    }

    .clr{
        display: none;
    }

    .barBG{
        z-index: 1;
        height: fit-content;
        display: flex;
        justify-content: center;
        width: fit-content;
        top: 10vh;

    }

    .barBG img{
        display: block;
        width: 30px;
        height:30px;
    }

    
    .ds{
        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        height: auto;
        grid-area: R;
        font-size: 20px;
        color: #2541B2;
    }
    
    input[name="View"],.Next , .Back{

        height: 75%;
    }
    
}

@media screen and (max-width: 450px) {
    .heading_container{
        height: 60%;
        grid-template-columns: 35% 25% 35%;
        grid-template-areas: "Admin Logo buttons";
        column-gap: 2.5%;
        margin-top: 1.5%;
        
    }

    .HIcon{
        width: 20px;
        margin-bottom: 10%;
    }
    .HomeAndLog{
        width: 80%;
        grid-template-columns: 45% 50%;
        grid-template-areas: "home Logout";
        column-gap: 5%;
        justify-self: end;
        height: 70%;

    }

    #f1{
        justify-content: end;
    }
    #f2{
        height: 100%;
        align-items: center;
        justify-content: end;
    }
    input[name="logout"]{
        width:100%;
        font-size: 5vw;
        text-align: center;
        height: 80%;
    }

    .Logo{
        margin-top: 5%;
    }
    .hLogo{
        margin-left: 5%;
        align-self: end;
    }
    
    .adminSettings{
        height: 80%;
        grid-template-columns: 20% auto;
    }
    .AdSetIcon{
        width: 100%;
        height: fit-content;
    }
    .adminName{
        font-size: 70%;
        margin-bottom: 5%;
    }


    .fLogo img{
        height: 4vh;
    
    }
}


/*
    **********************
    Router1 Page Finished
    ********************** 
 */

/*
    **********************
    Start Router1 Page info
    ********************** 
 */
.mainContainer{
    display: grid;
    justify-content: center; 
    padding: 5%;
    animation-name: showinfo ;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.infoContainer{
    display: grid;
    position: relative;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    width: 30em;
    height: 30em;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgb(0 0 0 / 60%);
    opacity: 95%;
    padding: 5%;
    grid-auto-rows: 15% 20% 50% 15%;
}
.info_button{
    width: fit-content;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 2vh;
    border: 0;
    right: 0;
    color: #2541B2;
    cursor: pointer;
    position: absolute;
    margin: 1.5em;
}
.info_button:hover {
    background: #E5D549;
    color: #fff;
    transition: ease 0.3s all;
}

#return_button{
    align-self: start;
}
#run_button{
    align-self: end;
}
.headerContainer{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.activeDevice{
    display: grid;
    position: absolute;
    padding: 0.5em;
    font-size: 18px;
    font-family:Comicimport;
    background-color: #ffff;
    box-shadow: 5px 5px 10px #e5d549;
    color: #1768AC;
    border-radius: 0.2em;
    margin: 4%;
    width: 70%;
    text-align: center;
}
.nameDevice{
    display: none;
}
#router1{
    display: block;
}
.all_infomation{
    display: grid;
    font-family: Comicimport,'Turret Road', cursive;
    text-decoration: solid;
    text-align: center;
    height: 15em;
    overflow: scroll;
}
.data{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto ;
    text-align: center;
    justify-content: center;
    align-content: center;
    gap: 1em;

    
}
.information{
color: #2541B2;
    font-family: Comicimport,'Turret Road', cursive;
    text-decoration: solid;
    align-content: center;
}
.data-value{
    color: #858585;
    font-family: Comicimport,'Turret Road', cursive;
    text-decoration: solid;
}
@keyframes showinfo {
    0%{
       display: none;
    }
    25%{
      width: 10em;
    }
    75%{
        width: 20em;
    }
    100%{
      display:grid;
      width: 30em;
    }
}
 /*
    **********************
   End Router1 Page info
    ********************** 
 */
