* {
    box-sizing: border-box;
}

@font-face{
    font-family: onyximport;
    src: url("../fonts/onyx/ONYX.TTF");
}

@font-face{
    font-family: Comicimport;
    src: url("../fonts/Comic/COMIC.TTF");
}

html,body{
    height: 100%;
}
body{
    background-image: url('../images/backgrauand.png');
    background-repeat:no-repeat;
    background-size: cover;
}



/* login starting */
#login{
    background-image: url('../images/backgrauand.png');
    background-position: center;
    background-size: cover;
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Comicimport,'Turret Road', cursive;
}
.login_container{
    width: 320px;
    height: 390px;
    background: radial-gradient(rgba(255,255,255,0.6));
    box-shadow: 5px 10px 20px rgb(0, 0,0,0.6);
    backdrop-filter: blur(3px);
    border-radius: 20px;
}
.webImage{
    width:195px ;
    margin-left: 17%;
    margin-top: 10px;
    margin-bottom: 2em;
}

.lab,.in{
margin-left: 30px;
}
.lab{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Comicimport,'Turret Road', cursive;
    color: #2541B2;
}
.in{
    width: 80%;
    height: 20px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #E5D549;
    background: transparent;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif, Comicimport,'Turret Road', cursive;
    padding-bottom: 3px;
    margin-bottom: 15px;
}
.in:focus{
    border-bottom: solid #2541B2;
}
::placeholder{
    color: rgb(61, 57, 57);
    font-family: Comicimport,'Turret Road', cursive;
}
.fas{
    color: #2541B2;
    margin-left: -20px;
    cursor: pointer;
}
#login_b{
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10%;
    outline: none;
    border: solid #E5D549;
    color: #2541B2;
    margin-left: 118px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    background-color: white;
    text-align: center;
}
#login_b:hover{
    background: #E5D549;
    color: #fff;
    border: solid #E5D549;
}


/* login ending */

/******** Home Page *******/
/*************************/

.homePage{
    display: block;
    position: relative;
    margin : 0;
    padding: 0;
  }
.header{
    display: grid;
    position:relative;
    width: 100%;
    height: 10em;
    background-color: #e3f0fb;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 70%);
    grid-template-columns: 25% 75%;
    top: 0%;
}
.websitName{
    height: 5em;
    margin-left: 2em;
    margin-top: 1.5em;
}
.menuContainer{
    display: grid;
    grid-template-columns: 25fr 30fr 15fr 15fr 15fr;
    border-top-left-radius: 3em;
    background-color: #e5d549;
    top: 6em;
    position: relative;
    height: 4em;
    align-items: center;
    gap: 1em;
}
.userName{
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
    color: #fff;
}
.search{
    border-radius: 2em;
    border-color: #fff;
    padding-left: 1em;
}
.menuButton{
    font-size: 1em;
    padding: 0.2em;
    border-radius: 0.5em;
    outline: none;
    border: solid #fff;
    color: #E5D549;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: white;
    text-align: center;
    margin-right: 1em;
}
/***** footer *********/
.footer{
    position: relative;
    bottom: 0%;
    background-color: antiquewhite;
}



/********* End Home Page *******/
/*******************************/
/*admin setting start*/
.body-containing{
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-sett{
    /* background-color: burlywood;*/
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     box-shadow: 0px 0px 30px rgb(0 0 0 / 70%);
     overflow: hidden;
     width: 50%;
     
 }
 .sett{
 
     margin-top: 5%;
     font-family: Comicimport;
     font-style: normal;
     font-weight: normal;
     font-size:2.5vw;
     line-height: 100%;
     color: #1768AC;
     text-shadow: 3px 6px 5px #E5D549;
     margin-bottom: 10px;
     /*background-color: brown;*/
 }
 #form3{
   /* background-color: cornflowerblue;*/
     margin-top: 5%;
     display: flex;
    flex-direction: column;

    width: 80%;
 }
 #change-bt{
     font-size: 18px;
     padding: 10px;
     margin-top: 3%;
     margin-bottom: 10%;
     border-radius: 10%;
     outline: none;
     border: solid #E5D549;
     color: #2541B2;
     cursor: pointer;
     font-weight: bold;
     transition: 0.3s ease;
     background-color: white;
     text-align: center;
    align-self: center;
    justify-self: center
     }
 
 #change-bt:hover{
 background: #E5D549;
 color: #fff;
 border: solid #E5D549;
 }
 
 .change-data{
     width: 100%;
     /*background-color: green;*/
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 .back-bt{
   width: 100%;
   /*background-color: greenyellow;*/
   display: flex;
   justify-content: start;
   align-items: flex-start;
   padding-left: 2%;
     padding-top: 1%;
 }
 
 
 .bi-arrow-left-circle::before{
     border-radius: 20px;
     transition: color 0.2s linear, background-color 0.2s linear;
 }
 
 .bi-arrow-left-circle:hover::before{
     background-color: #E5D549;
     color: rgb(255, 255, 255);
 }
 .bi-arrow-left-circle{
     color: black;
     font-size: 20px;
 }
 .bi-arrow-left-circle{
     color: black;
     font-size: 23px;
 }
 .lab3,.in3{
     margin-left: 30px;
     }
     .lab3{
         font-size: 1.5vw;
         margin-bottom: 10px;
         font-weight: bold;
         font-family: Comicimport,'Turret Road', cursive;
         color: #2541B2;
     }
     .in3{
         width: 80%;
         height: 5vh;
         outline: none;
         border-top: none;
         border-left: none;
         border-right: none;
         border-bottom: solid #E5D549;
         background: transparent;
         color: black;
         font-size: 1vw;
         letter-spacing: 1px;
         font-family: Arial, Helvetica, sans-serif, Comicimport,'Turret Road', cursive;
         padding-bottom: 1%;
         margin-bottom: 5%;
     }
     .in3:focus{
         border-bottom: solid #2541B2;
     }
     @media only screen and (max-width: 769px) {
         .lab3{
             font-size: 3.5vw;
             width: 38%;
         }
         #form3{
             width: 90%;
             /*background-color: aqua;*/
         }
         .change-sett{
             width: 80%;
             
         }
         .sett{
             font-size: 6vw;
         }
         .in3{
             font-size: 2.5vw;
         }
     }
     @media only screen and (max-width: 426px) {

         .in3{
             font-size: 3.5vw;
         }
         .lab3{
             font-size: 4vw;
             width: 60%;
             /*background-color: burlywood;*/
         }
     }
 

/* admin settings ending */
/*
    **********************
      Start Router1 Page
    ********************** 
 */

/*===== the main body =====*/
.body{
    height: 100%;
    background-image: url("../images/backgrauand.png");
    background-repeat:no-repeat;
    background-size:cover;
}
/*=========================*/
/*===== the shaded-box =====*/
.body-container{
    border-radius: 10px; /*rounding the edges of the box*/
    box-shadow: 0px 0px 30px rgb(0 0 0 / 70%);
    overflow: hidden;
}
/*==========================*/



/*==============================*/
/*===== the Inputs Section =====*/
/*==============================*/


.Settings{
    overflow-y:scroll;  /*enable scrolling => for mobile screens*/
    overflow-x: hidden; 
    padding: 0.5rem;
    
}


/*=========================== Design the Scroll Bar =========================*/
.Settings::-webkit-scrollbar{
    width: 5px;               /* width of the entire scrollbar */
}
.Settings::-webkit-scrollbar-track{
    opacity: 0;        /* color of the tracking area */
}
.Settings::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.185);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}
/*===========================================================================*/


.name{

    font-family: Comicimport;
    font-style: normal;
    font-weight: normal;
    font-size:2rem;
    line-height: 100%;
    color: #1768AC;
    text-shadow: 3px 6px 5px #E5D549;
    align-self: flex-start;
    margin-bottom: 10px;
}



/* class for text box inputs */
.txts{
    width: 100%;
    height: 35px;
    text-align: center;
    font-weight: bolder;
    border-radius: 5px;
    border-width: 2px;

}
/* sizing the placeholder fonts of the text boxes */
::placeholder{
    font-size: 13px;
}


/* The Inputs Names */
.label{
    line-height: 100%;
    margin-bottom: 2%;
    font-size: 18px;
    font-family:Comicimport;
    font-weight:bold;
    justify-self: start;
    color: #2541B2;
}

/*===============================*/



/*==============================*/
/*========== Side Bar ==========*/
/*==============================*/
.navbar{
    border-radius: 10px;
    background-color: rgb(131 202 242 / 70%);
}

.offcanvas-start{

    width:200px;
    background-color: rgb(113, 202, 253);
}

.accordion-collapse{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 150px;
}




/*=========================== Design the Scroll Bar =========================*/
.accordion-collapse::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
.accordion-collapse::-webkit-scrollbar-track {
    opacity: 0;        /* color of the tracking area */
}
.accordion-collapse::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.185);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}
/*===========================================================================*/



.top-bar-contents{
    display: none;
    width: fit-content;
}

.bi-x-circle{
    font-size: 20px;
    color: black;
}

.bi-x-circle::before,.bi-arrow-left-circle::before{
    border-radius: 20px;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.bi-x-circle:hover::before,.bi-arrow-left-circle:hover::before{

    background-color: #E5D549;
    color: rgb(255, 255, 255);
}
.bi-arrow-left-circle{
    color: black;
    font-size: 20px;
}

.menu-icon{
    color: black;
    font-size: 25px;
}




@media (min-width: 768px) { /*for large and medium screens*/
    .offset-md-1{
        margin-left: 8%;
    }
    .S1,.S2{width: 46%;}
}

@media (min-width: 992px) { /* for Large Screens */
    /*splitting the Div Block to two Columns*/
    .dp{
        display: grid;
        grid-template-columns: 49% 49%;
        column-gap: 2%;
        grid-template-rows: 100%;
        grid-template-areas: "labels txts";
        justify-content: center;
        align-items: center;
    }
    .body-container{
        max-height: 528px;
        overflow-y: hidden;
    }
}


/* in small screens */
@media (max-width: 767px) {
    .abs{
        margin-top: 1rem !important;
    }
    .name{                          /*change font size*/
        font-size: 2rem;
    }
    .body-container{                /*change the Container Height*/
        padding-top: 0 !important;
        height: 85%;
    }
    
    .top-bar-contents{              /*display the top bar and set vertical paddings*/
        padding-top: 2px;
        padding-bottom: 2px;
        display: block;
    }
    .Settings{                      /*change Inputs Section height*/
        height:65vh;
    }

    .logo{                          /*Set the Width of the Logo which inside the side*/
        width: 100px;
    }

    .menu-icon:hover{
        background-color: rgb(180, 228, 245);
    }

    .top-bar{
        background-color: rgb(131 202 242);
    }

}

@media (max-width: 576px){
.name{
    font-size: 18pt;
    line-height: 30px;
}
}
 /*
    **********************
       End Router1 Page
    ********************** 
 */



/*
    **********************
    Start Router1 Page info
    ********************** 
 */

 .mainInfo{
    display:none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
 }
.mainContainer{
    animation-name: showinfo ;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.infoContainer{
    display: grid;
    grid-template-rows: 7% 20% 60% 15%;
    position: relative;
    height: 30em;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgb(0 0 0 / 60%);
    opacity: 90%;
    padding: 5%;

}

.info_button{
    width: fit-content;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-radius: 2vh;
    border: 0;
    right: 0;
    color: #2541B2;
    cursor: pointer;
    position: absolute;
    margin-right: 1.5em;
}
.info_button:hover {
    background: #E5D549;
    color: #fff;
    transition: ease 0.3s all;
}

#return_button{
    align-self: start;
}
#run_button{
    align-self: end;
}
.headerContainer{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.close-bt{
    width: 100%;
   /* background-color: greenyellow;*/
    display: flex;
    justify-content: end;
    align-items: flex-end;
    
}
.bi-x-circle::before{
    border-radius: 20px;
    transition: color 0.2s linear, background-color 0.2s linear;
}

.bi-x-circle:hover::before{
    background-color: #E5D549;
    color: rgb(255, 255, 255);
}
.bi-x-circle{
    color: black;
    font-size: 23px;
}
.bi-arrow-left-circle{
    color: black;
    font-size: 23px;
}
.activeDevice{
    display: grid;
    position: absolute;
    padding: 0.5em;
    font-size: 18px;
    font-family:Comicimport;
    background-color: #ffff;
    box-shadow: 5px 5px 10px #e5d549;
    color: #1768AC;
    border-radius: 0.2em;
    width: 70%;
    text-align: center;
}
.nameDevice{
    display: none;
}
#router1{
    display: block;
}
.all_infomation{
    display: flex;
    flex-direction: column;
    font-family: Comicimport,'Turret Road', cursive;
    text-decoration: solid;
    text-align: center;
    height: 15em;
    overflow-y: scroll;

}
.all_infomation::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
.all_infomation::-webkit-scrollbar-track{
    opacity: 0;        /* color of the tracking area */
}
.all_infomation::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.185);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
}
.data{
    display: flex;
    flex-wrap: wrap;
    line-height: 2em;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.information{
color: #2541B2;
    font-family: Comicimport,'Turret Road', cursive;
    text-decoration: solid;
    align-content: center;
}
.data-value{
    color: #858585;
    font-family: Comicimport,'Turret Road', cursive;
    text-decoration: solid;
    word-break: break-all
}
@keyframes showinfo {
    0%{
       display: none;
    }
    25%{
      width: 10em;
    }
    75%{
        width: 20em;
    }
    100%{
      display:grid;
      width: 30em;
    }
}
@media (max-width: 392px){
    .mainContainer{
       width: fit-content;
    }
}

    /*
    **********************
   End Router1 Page info
    ********************** 
 */
